/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #002626;     /* cor de fundo da página */
$body-color: #ffffff;  /* cor do texto */
$link-color: #f2e466;  /* cor dos links */
$navbar-bg: #003333;   /* cor de fundo da barra de navegação */
$navbar-fg: #cae8e8;   /* cor do texto na barra de navegação */
